#add-btn{
  padding: .5rem 1rem;
  border: 0;
  background: #f80;
  color: #fff;
  border-radius: .5rem;
}
ul {
  padding: 0;
  list-style-position: inside;
}
li{
  border-bottom: 1px solid olive;
  padding: 1rem 0;
}
.active {background-color: #abc;}